<h2 style = "padding-left:10px">Login</h2>
<div class="login-form">
    <mat-form-field class="login-full-width">
      <mat-label>Enter your email</mat-label>
      <input matInput
             placeholder="example@example.com"
             [formControl]="emailCheck"
             [(ngModel)]="email"
             (blur)="updateEmailBlurMessage()"
             required>
      <mat-error *ngIf="emailCheck.invalid">{{errorMessage}}</mat-error>
    </mat-form-field> 
    <mat-form-field class="login-full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput 
        [type] = "hide ? 'password' : 'text'" 
        [formControl] = "passwordCheck"
        [(ngModel)] ="password" 
        required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordCheck.invalid">{{errorMessage}}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" (click)="verifyLogin()">Login</button> 
</div>
<br>
<p style = "padding-left: 10px;">Don't have an account yet? <a routerLink="/register">Register</a></p>